.dad-detail{
    background-color: #b7c27e;
    padding-bottom: 60px;
}
.container{
    display:flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin:0 200px ;
    position: relative;
    
} 

.imgd{
    border: 5px solid rgba(202, 199, 199, 0.685);
    margin: 10px;
    height: 200px;
    width: 200px;
    border-radius: 120px;
}

.card-detail{
    position: relative;
    color:#65727a;
    margin-top: 20px;
    width: 500px;
    height: 700px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 255, .2);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    transition: all .2s;
}
.card-detail:hover {
    box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, .2);
  }


.volver{
    
    font-family: 'Century Gothic', sans-serif;
    border-radius: 4px;   
    background-color: #1a1a1a;
    border: solid 10px #121212;
    color: #fff;
    text-align: center;
        
}
.acti{
    color: black;
    
}

 .containeractivities-cards{
    width: 500px;
    height: 400px;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid black 2.5px;
    background-color: #f1edd0;
    margin-top: 20px;
    list-style:none;
    margin-right: 40px;
    transition: all .2s;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.containeractivities-cards:hover {
    box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, .2);
  }

.back-detail {
    
    position: absolute;
    top: 30px;
    left: 30px;
      
}

li h2{
    line-height: 50px;
}

.elm button {

    margin-left: 180px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
  .elm button, button span {
    transition: 200ms;
   }
   
  .elm button .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .elm button .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .elm  button svg {
    width: 15px;
    fill: #eee;
   }
   
   .elm button:hover {
    background: #ff3636;
   }
   
   .elm button:hover .text {
    color: transparent;
   }
   
   .elm button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .elm button:focus {
    outline: none;
   }
   
   .elm button:active .icon svg {
    transform: scale(0.8);
   }



